<h1>Search Page!</h1>
<p>Hello Capybara</p>

<form id="frmsearch">
  <p>
  <label>Arama Kriteri:</label>
  <input type="text" id="txtsearch" name="txtsearch" value="Ruby">
  </p>
  <p>
    <input type="submit" id="btnsearch" value="Arama Yap" >
  </p>
</form>


